#
# MSM Broadcast subsystem drivers
#

config TSPP
	depends on ARCH_MSM
	tristate "TSPP (Transport Stream Packet Processor) Support"
	---help---
	Transport Stream Packet Processor v1 is used to offload the
	processing of MPEG transport streams from the main processor.
	It is used to process incoming transport streams from TSIF
	to supports use-cases such as transport stream live play
	and recording.
	This can also be compiled as a loadable module.

config LGE_BROADCAST_ISDBT_JAPAN
	bool "Japan full-seg Broadcast service"
	depends on (MACH_MSM8992_P1_KDDI_JP || MACH_MSM8996_H1_KDDI_JP || MACH_MSM8996_ELSA_KDDI_JP || MACH_MSM8996_ELSA_DCM_JP || MACH_MSM8998_JOAN_KDDI_JP || MACH_MSM8998_JOAN_DCM_JP || MACH_MSM8952_B5_JP_KDI)
	default y
	help
	  Select this if you want to use Japanese FullSeg mobile broadcast service
