source "drivers/video/slimport/anx7808/Kconfig"
source "drivers/video/slimport/anx7812/Kconfig"
source "drivers/video/slimport/anx7816/Kconfig"
source "drivers/video/slimport/Ctype_anx7816/Kconfig"

config SLIMPORT_COMMON
	tristate "Analogix Slimport transmitter ANX support"
	help
	  Slimport Transmitter is a video transmitter chip
	  over micro-USB connector for smartphone device.
