# ADDITIONAL OPTIONS - START
# CONFIG_SCSI_UFSHCD is not set
# CONFIG_SCSI_UFSHCD_PLATFORM is not set
# CONFIG_SCSI_UFS_QCOM is not set
# CONFIG_SCSI_UFS_QCOM_ICE is not set
# CONFIG_UFS_LGE_FEATURE is not set
# CONFIG_UFS_FAULT_INJECTION is not set
# ADDITIONAL OPTIONS - END
CONFIG_QCOM_SMCINVOKE=y
