# ADDITIONAL OPTIONS - START
CONFIG_SCSI_UFSHCD=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SCSI_UFS_QCOM_ICE=y
CONFIG_UFS_LGE_FEATURE=y
CONFIG_UFS_FAULT_INJECTION=y
CONFIG_UFS_LGE_CARD_RESET=y
CONFIG_UFS_LGE_CARD_RESET_DEBUGFS=y
# ADDITIONAL OPTIONS - END
CONFIG_QCOM_SMCINVOKE=y
