include elsa_global_com_common
include elsa_common-perf
#############################################################
#   Fix kernel command-line (may or may not be important)   #
#############################################################
CONFIG_CMDLINE="lge.sim_num=2 lge.dsds=dsds androidboot.bl_unlock_complete=false androidboot.authorized_kernel=true"
CONFIG_CMDLINE_EXTEND=y
CONFIG_CMDLINE_SAR_ENABLE0=y
CONFIG_CMDLINE_SAR_SEARCH0=" model.name=LG-US996 "
CONFIG_CMDLINE_SAR_REPLACE0=" model.name=LG-H990 "
CONFIG_CMDLINE_SAR_ENABLE1=y
CONFIG_CMDLINE_SAR_SEARCH1=" androidboot.serialno=LGUS996"
CONFIG_CMDLINE_SAR_REPLACE1=" androidboot.serialno=LGH990"
CONFIG_CMDLINE_SAR_ENABLE2=y
CONFIG_CMDLINE_SAR_SEARCH2=" slub_debug=FZPU "
CONFIG_CMDLINE_SAR_REPLACE2=" "

# Fix the modem memory
CONFIG_DIRTYSANTA_FIXUP=y
