include msm-perf_defconfig
include mk2000_defconfig

# LG Platform
CONFIG_MACH_LGE=y

# ARM
CONFIG_NR_CPUS=4

# CPU
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

# Bluetooth
CONFIG_BRCM_V4L2=y
# Barebones driver
CONFIG_BT_BCM43XX=n
CONFIG_BT_MSM_SLEEP=n

# Fingerprint Cards
CONFIG_INPUT_FINGERPRINT=y
CONFIG_INPUT_FINGERPRINT_FPC1020=y

# NXP
CONFIG_NFC=y
CONFIG_NFC_PN548=y

# LGE - Camera
CONFIG_LG_OIS=y
CONFIG_LGE_CAM_PREVIEW_TUNE=y

# LGE - Sound


# LGE - Display
CONFIG_LGE_VSYNC_SKIP=y
CONFIG_LGE_PANEL_RECOVERY=y
CONFIG_LGE_DISPLAY_COMMON=y
CONFIG_LGE_LCD_OFF_DIMMING=y
CONFIG_LGE_PP_AD_SUPPORTED=y
CONFIG_LGE_HIGH_LUMINANCE_MODE=y
CONFIG_LGE_SP_MIRRORING_CTRL_BL=y
CONFIG_LGE_DISPLAY_AOD_SUPPORTED=y
CONFIG_LGE_DISPLAY_LABIBB_RECOVERY=y
CONFIG_LGE_LCD_DYNAMIC_CABC_MIE_CTRL=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_PANEL_POWER_ON=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_PANEL_POWER_OFF=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_PANEL_ON=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_PANEL_OFF=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_PANEL_RESET=y
CONFIG_LGE_DISPLAY_OVERRIDE_MDSS_DSI_CTRL_SHUTDOWN=y

# PM
CONFIG_LGE_PM=y
CONFIG_QPNP_FG_EXTENSION=y
CONFIG_QPNP_SMBCHARGER_EXTENSION=y
# These will likely be removed later
CONFIG_LGE_PM_SOC_SCALING=y
CONFIG_LGE_PM_UNIFIED_NODE=y
CONFIG_LGE_PM_PSEUDO_BATTERY=y
CONFIG_LGE_PM_CHARGING_SCENARIO=y
CONFIG_LGE_PM_PARALLEL_CHARGING=y
CONFIG_LGE_PM_USB_CURRENT_MAX_MODE=y
CONFIG_LGE_PM_WAKE_LOCK_FOR_CHG_LOGO=y
CONFIG_LGE_PM_INCOMPATIBLE_HVDCP_SUPPORT=y
CONFIG_LGE_PM_CHARGERLOGO_WAIT_FOR_FG_INIT=y
# CONFIG_LGE_PM_THERMAL_VTS is not set # code not imported

# USB
CONFIG_USB_PD=y
CONFIG_USB_PD_POLICY=y
CONFIG_DUAL_ROLE_USB_INTF=y
# These will likely be removed later
CONFIG_LGE_USB_G_ANDROID=y
CONFIG_LGE_USB_G_MULTIPLE_CONFIGURATION=y
CONFIG_LGE_USB_G_NCM=y
CONFIG_LGE_USB_DIAG_LOCK=y
CONFIG_LGE_USB_TYPE_C=y

# Other
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_MFD_H1_DSV=y
CONFIG_LGE_HANDLE_PANIC=y
CONFIG_ZRAM_LZ4_COMPRESS=y
CONFIG_SERIAL_MSM_HSL=y
CONFIG_EXT4_FS_ENCRYPTION=y
CONFIG_EXT4_ENCRYPTION=y
CONFIG_SLIMBUS=y

# DOS/FAT/NT Filesystems
CONFIG_MSDOS_FS=n
CONFIG_FAT_FS=n
CONFIG_VFAT_FS=n
CONFIG_SDFAT_FS=y
CONFIG_SDFAT_USE_FOR_EXFAT=y
CONFIG_SDFAT_USE_FOR_VFAT=y
CONFIG_SDFAT_DELAYED_META_DIRTY=y
CONFIG_SDFAT_SUPPORT_DIR_SYNC=y
CONFIG_SDFAT_DEFAULT_CODEPAGE=437
CONFIG_SDFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_SDFAT_CHECK_RO_ATTR=y
CONFIG_SDFAT_ALIGNED_MPAGE_WRITE=y
CONFIG_SDFAT_VIRTUAL_XATTR=y
CONFIG_SDFAT_VIRTUAL_XATTR_SELINUX_LABEL="u:object_r:sdcard_external:s0"
CONFIG_SDFAT_DEBUG=n
CONFIG_SDFAT_SUPPORT_STLOG=y
CONFIG_SDFAT_STATISTICS=y

# Treble
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_SETEND_EMULATION=y
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y

# Vibrator
CONFIG_QPNP_HAPTIC=y

# Disable QCOM drivers to avoid confliction
CONFIG_BT_RFCOMM=n
CONFIG_MSM_BT_POWER=n
CONFIG_NFC_NQ=n
CONFIG_CNSS=n
CONFIG_USELIB=n
