include msm-perf_defconfig
# LG Platform
CONFIG_MACH_LGE=y

# ARM
CONFIG_NR_CPUS=4
CONFIG_CPUSETS=y
CONFIG_PROC_PID_CPUSET=y

# Broadcom - Bluetooth
CONFIG_BT_BCM43XX=y
CONFIG_BT_MSM_SLEEP=y

# Fingerprint Cards
CONFIG_INPUT_FINGERPRINT=y
CONFIG_INPUT_FINGERPRINT_FPC1020=y

# NXP
CONFIG_NFC=y
CONFIG_NFC_PN548=y

# Other
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_IOSCHED_BFQ=y
CONFIG_CGROUP_BFQIO=y
CONFIG_LGE_HANDLE_PANIC=y
CONFIG_LGE_HALL_IC=y
CONFIG_ZRAM_LZ4_COMPRESS=y
CONFIG_SERIAL_MSM_HSL=y
CONFIG_SERIAL_MSM_HSL_CONSOLE=y
CONFIG_EXT4_ENCRYPTION=y
CONFIG_EXT4_FS_ENCRYPTION=y

# Treble
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_SETEND_EMULATION=y
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y

# Disable QCOM drivers to avoid confliction
CONFIG_BT_RFCOMM=n
CONFIG_MSM_BT_POWER=n
CONFIG_NFC_NQ=n
CONFIG_CNSS=n
CONFIG_USELIB=n
