include lineageos_elsa_common
# LG Platform
CONFIG_MACH_MSM8996_ELSA_GLOBAL_COM=y

# Broadcom - Wifi
CONFIG_BCMDHD=y
CONFIG_BCMDHD_LEGACY=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCM43455=y
CONFIG_BCMDHD_COB=y
CONFIG_BCMDHD_USE_SCHED_SCAN=y
CONFIG_BCMDHD_FOLLOW_AP_DTIM_PERIOD=n
CONFIG_WIFI_CONTROL_FUNC=y


# Required for functioning modem
CONFIG_DIRTYSANTA_FIXUP=y

# Wipes out the incorrect modem parameters
CONFIG_CMDLINE_SEARCHREPLACE=y
CONFIG_CMDLINE_SAR_ENABLE0=y
CONFIG_CMDLINE_SAR_SEARCH0=" model.name=LG-US996 "
CONFIG_CMDLINE_SAR_REPLACE0=" "
CONFIG_CMDLINE_SAR_ENABLE1=y
CONFIG_CMDLINE_SAR_SEARCH1=" androidboot.serialno=LGUS996"
CONFIG_CMDLINE_SAR_REPLACE1=" androidboot.serialno=LGH990"
