include lineageos_lucye_common
# LG Platform
CONFIG_MACH_MSM8996_LUCYE_NAO_US=y

# Broadcom - Wifi
CONFIG_BCMDHD=y
CONFIG_BCMDHD_EXT=y
CONFIG_BCMDHD_PCIE=y
CONFIG_BCM4359=y
CONFIG_BCMDHD_COB=y
CONFIG_BCMDHD_USE_SCHED_SCAN=y
CONFIG_BCMDHD_HOSTAPD_BGN_MODE=y
CONFIG_BCMDHD_FOLLOW_AP_DTIM_PERIOD=n
CONFIG_WIFI_CONTROL_FUNC=y

# LGE - PM
CONFIG_IDTP9223_CHARGER=y

# LGE - Sound
CONFIG_SND_USE_QUAT_MI2S=y
