CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_LZ4=y
CONFIG_FB_MSM_MDSS_KCAL_CTRL=y
CONFIG_SCHED_HMP_CSTATE_AWARE=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_MSM_POWER=y
CONFIG_WIREGUARD=y
CONFIG_JUMP_LABEL=y
CONFIG_IOSCHED_MAPLE=y
CONFIG_STATE_NOTIFIER=y
CONFIG_FORCE_FAST_CHARGE=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_CPU_FREQ_GOV_BLU_ACTIVE=y
# CONFIG_TRACER_PKT is not set
# CONFIG_MSM_RPM_LOG is not set
# CONFIG_MSM_RPM_STATS_LOG is not set
# CONFIG_LGE_BOOTLOADER_LOG is not set
# CONFIG_PRE_SELF_DIAGNOSIS is not set
# CONFIG_MSM_RUN_QUEUE_STATS is not set
# CONFIG_CPU_BOOST is not set
# CONFIG_LGE_PM_TRITON is not set
# CONFIG_LGE_PM_CANCUN is not set
# CONFIG_MSM_PERFORMANCE is not set
# CONFIG_INPUT_EVBUG is not set
# CONFIG_DM_VERITY is not set
# CONFIG_CRYPTO_AES_ARM64_NEON_BLK is not set
CONFIG_INPUT_MOUSE=y
CONFIG_EXFAT_FS=y
CONFIG_EXFAT_DISCARD=y
# CONFIG_EXFAT_DELAYED_SYNC is not set
# CONFIG_EXFAT_KERNEL_DEBUG is not set
# CONFIG_EXFAT_DEBUG_MSG is not set
CONFIG_EXFAT_DEFAULT_CODEPAGE=437
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_USB_STORAGE=y
CONFIG_USB_STORAGE_REALTEK=y
CONFIG_REALTEK_AUTOPM=y
# CONFIG_CPU_FREQ_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set
