# Disable stuff
CONFIG_AIO=n
CONFIG_EFI=n
CONFIG_JBD=n
CONFIG_ESOC=n
CONFIG_AUDIT=n
CONFIG_ATL1C=n
CONFIG_IMX134=n
CONFIG_IMX132=n
CONFIG_OV9724=n
CONFIG_OV5648=n
CONFIG_GC0339=n
CONFIG_OV8825=n
CONFIG_OV8865=n
CONFIG_s5k4e1=n
CONFIG_OV12830=n
CONFIG_BONDING=n
CONFIG_MODULES=n
CONFIG_RD_LZMA=n
CONFIG_WIL6210=n
CONFIG_VGA_ARB=n
CONFIG_EXT2_FS=n
CONFIG_EXT3_FS=n
CONFIG_MSM_11AD=n
CONFIG_MMC_TEST=n
CONFIG_RD_BZIP2=n
CONFIG_MSM_RDBG=n
CONFIG_PROFILING=n
CONFIG_ATH_CARDS=n
CONFIG_CPU_BOOST=n
CONFIG_ARM64_PAN=n
CONFIG_ARM64_UAO=n
CONFIG_CORESIGHT=n
CONFIG_TRACER_PKT=n
CONFIG_SPI_SPIDEV=n
CONFIG_TI_DRV2667=n
CONFIG_SEEMP_CORE=n
CONFIG_MEDIA_TUNER=n
CONFIG_CNSS_CRYPTO=n
CONFIG_CMA_DEBUGFS=n
CONFIG_EEPROM_AT24=n
CONFIG_CLD_LL_CORE=n
CONFIG_INPUT_EVBUG=n
CONFIG_IOMMU_DEBUG=n
CONFIG_MSM_QBT1000=n
CONFIG_IPC_LOGGING=n
CONFIG_SCSI_LOGGING=n
CONFIG_IOSCHED_TEST=n
CONFIG_USB_EHCI_HCD=n
CONFIG_WIRELESS_EXT=n
CONFIG_SECURE_TOUCH=n
CONFIG_RADIO_SILABS=n
CONFIG_WCD9330_CODEC=n
CONFIG_SCSI_UFS_TEST=n
CONFIG_UEVENT_HELPER=n
CONFIG_SYSFS_SYSCALL=n
CONFIG_ARM_GIC_V3_ACL=n
CONFIG_MMC_BLOCK_TEST=n
CONFIG_MSM_PERFORMANCE=n
CONFIG_LCD_CLASS_DEVICE=n
CONFIG_NL80211_TESTMODE=n
CONFIG_INPUT_HBTP_INPUT=n
CONFIG_BACKLIGHT_GENERIC=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_MSM_KERNEL_PROTECT=n
CONFIG_MMC_PERF_PROFILING=n
CONFIG_WCNSS_MEM_PRE_ALLOC=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_ARM64_ERRATUM_826319=n
CONFIG_ARM64_ERRATUM_827319=n
CONFIG_ARM64_ERRATUM_824069=n
CONFIG_ARM64_ERRATUM_819472=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_ARM64_ERRATUM_845719=n
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_USB_EHSET_TEST_FIXTURE=n
CONFIG_WLAN_FEATURE_RX_WAKELOCK=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=n
CONFIG_TOUCHSCREEN_ATMEL_MAXTOUCH_TS=n
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v21=n
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v26=n

# Disable verity
CONFIG_DM_VERITY=n

# Enable stuff
CONFIG_JUMP_LABEL=y
CONFIG_PERF_EVENTS=y
CONFIG_LOCALVERSION="-"
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_CRYPTO_ANSI_CPRNG=y
CONFIG_EXT4_USE_FOR_EXT23=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_LZ4=y
