# SafetyNet stuff
CONFIG_CMDLINE_SEARCHREPLACE=y
CONFIG_CMDLINE_SAR_VERIFY_GREEN=y
CONFIG_CMDLINE_SAR_ENABLE7=y
CONFIG_CMDLINE_SAR_SEARCH7=" androidboot.enable_dm_verity="
CONFIG_CMDLINE_SAR_REPLACE7=" "
CONFIG_CMDLINE_SAR_ENABLE8=y
CONFIG_CMDLINE_SAR_SEARCH8=" androidboot.veritymode="
CONFIG_CMDLINE_SAR_REPLACE8=" "
CONFIG_CMDLINE_SAR_ENABLE9=y
CONFIG_CMDLINE_SAR_SEARCH9=" androidboot.secboot="
CONFIG_CMDLINE_SAR_REPLACE9=" "
# SafetyNet stuff
CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_LZ4=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_CRYPTO_CRC32_ARM64_CE=y
CONFIG_FB_MSM_MDSS_KCAL_CTRL=y
CONFIG_BACKLIGHT_GENERIC=n
CONFIG_CRYPTO_ANSI_CPRNG=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_LCD_CLASS_DEVICE=n
CONFIG_WAKE_BOOST_DURATION_MS=850
CONFIG_CPU_INPUT_BOOST=y
CONFIG_MSM_SMP2P_TEST=n
CONFIG_LGE_USB_G_LAF=n
CONFIG_DEBUG_KERNEL=y
CONFIG_MSM_BT_POWER=n
CONFIG_USB_EHCI_HCD=n
CONFIG_COMPAT_VDSO=y
CONFIG_USB_GSPCA=n
CONFIG_MODULES=n
CONFIG_KEYS=y
CONFIG_AUDIT=n
CONFIG_MSM_POWER=y
CONFIG_WIREGUARD=y
CONFIG_CC_WERROR=y
CONFIG_JUMP_LABEL=y
CONFIG_IOSCHED_BFQ=y
CONFIG_IOSCHED_MAPLE=y
CONFIG_DYNAMIC_FSYNC=y
CONFIG_STATE_NOTIFIER=y
CONFIG_FORCE_FAST_CHARGE=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_EXT_CDROM_EMULATION=y
CONFIG_SCHED_HMP_CSTATE_AWARE=y
CONFIG_CPU_FREQ_GOV_BLU_ACTIVE=n
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_DEBUG_BUGVERBOSE=n
# CONFIG_MSM_RTB is not set
# CONFIG_MSM_RDBG is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_LOCALVERSION is not set
# CONFIG_TRACER_PKT is not set
# CONFIG_MSM_RPM_LOG is not set
# CONFIG_MSM_RPM_STATS_LOG is not set
# CONFIG_LGE_BOOTLOADER_LOG is not set
# CONFIG_PRE_SELF_DIAGNOSIS is not set
# CONFIG_MSM_RUN_QUEUE_STATS is not set
# CONFIG_CPU_BOOST is not set
# CONFIG_LGE_PM_TRITON is not set
# CONFIG_LGE_PM_CANCUN is not set
# CONFIG_MSM_PERFORMANCE is not set
# CONFIG_INPUT_EVBUG is not set
# CONFIG_DM_VERITY is not set
# CONFIG_CRYPTO_AES_ARM64_NEON_BLK is not set
# CONFIG_LGE_DISPLAY_DYN_DSI_MODE_SWITCH is not set
CONFIG_MEDIA_TUNER=n
CONFIG_INPUT_MOUSE=y
CONFIG_USB_STORAGE=y
CONFIG_USB_STORAGE_REALTEK=y
CONFIG_REALTEK_AUTOPM=y
CONFIG_DEFAULT_BIC=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_VFAT_FS=n
CONFIG_MSDOS_FS=n
CONFIG_SDFAT_FS=y
CONFIG_SDFAT_VIRTUAL_XATTR=n
CONFIG_SDFAT_SUPPORT_DIR_SYNC=y
# CONFIG_CPU_FREQ_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_GOV_CONSERVATIVE is not set
