#
# MMC subsystem configuration
#

menuconfig MMC
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

config MMC_DEBUG
	bool "MMC debugging"
	depends on MMC != n
	help
	  This is an option for use by developers; most people should
	  say N here.  This enables MMC core and driver debugging.

config MMC_PERF_PROFILING
	bool "MMC performance profiling"
	depends on MMC != n
	default n
	help
	  If you say Y here, support will be added for collecting
	  performance numbers at the MMC Queue and Host layers.

# LGE_CHANGE_S : bohyun.jung@lge.com
config LGE_MMC_RESET_IF_HANG
    bool "MMC Reset if eMMC is hang. "
    default n
    help
        Reset eMMC if eMMC is unaccessible.
        continously error on cache flush or mmc restart cmd.

config LGE_MMC_DYNAMIC_LOG
    bool "MMC debugging - enable logs through adb"
    default n
    help
        If you say Y here, developers can enable/disable mmc logs through adb
        by accessing /sys/module/mmc_core/parameters/debug_level
        ex. echo {debug_level} > /sys/module/mmc_core/parameters/debug_level
# LGE_CHANGE_E : bohyun.jung@lge.com

config LGE_MMC_SPECIAL_SDR104
        bool "SPECICAL SRD104 SDCARD need wating time for initialization (EXPERIMENTAL)"
	default n
	help
          IF you say Y here, MMC driver will send status command after
	  SDCARD initialization. If device is recieved sucess response,
	  will stop sending status command and then SDR104 card is well recognized.
	  It problem is associated with tunning process of mmc card.
	  if you are experiencing issues with SD detection.

config LGE_MMC_CLK_SCALE_DISABLE
	bool "disable clock scaling for mmc"
	default n
	help
	  If you say Y here, clock scaling for mmc device will be disabled.
	  Set Y in kernel/arch/arm/configs/XXXX_defconfig file.

config LGE_SHOW_SDCARD_DETECT_PIN_STATUS
    bool "Show SD Card Detect pin status"
    default n
    help
        Show SD Card Detect pin status at /sys/devices/soc/7864900.sdhci/mmc_host/mmc1/cd_status

config LGE_TRAY_EVENT
    bool "Show SD Card Detect pin status"
    depends on MACH_LGE && LGE_SHOW_SDCARD_DETECT_PIN_STATUS
    default y
    help
        Support the uevent for SD Card TRAY status.

if MMC

source "drivers/mmc/core/Kconfig"

source "drivers/mmc/card/Kconfig"

source "drivers/mmc/host/Kconfig"

endif # MMC
