#
# Fingerprints driver configuration
#
menuconfig INPUT_FINGERPRINT
	bool "FingerPrints"
	help
	  Say Y here, and a list of supported fingerprints will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_FINGERPRINT

config INPUT_FINGERPRINT_FPC_BTP
	tristate "FPC1022 fingerprint sensor support by CrucialSoft"
	depends on SPI_MASTER
	help
	 Say Y here if you want to support FPC1022
	 connected via an SPI bus.

	 To compile this driver as a module, choose M here: the module
	 will be called FPC1022.

config INPUT_FINGERPRINT_FPC1020
	tristate "FPC1022 fingerprint sensor support by FPC"
	depends on SPI_MASTER
	help
	 Say Y here if you want to support FPC1022
	 connected via an SPI bus.

	 To compile this driver as a module, choose M here: the module
	 will be called FPC1022.

endif
