#
# SLIMBUS driver configuration
#
config DEBUG_SLIMBUS
	bool "Debug slimbus calls"
	depends on DEBUG_KERNEL
	help
	  Say Y here to add some extra checks and diagnostics to slimbus
	  calls.

menuconfig SLIMBUS
	bool "Slimbus support"
	depends on HAS_IOMEM
	help
	  Slimbus is standard interface between baseband and
	  application processors and peripheral components in mobile
	  terminals.

if SLIMBUS
config SLIMBUS_MSM_CTRL
	tristate "Qualcomm Slimbus Master Component"
	default n
	help
	  Select driver for Qualcomm's Slimbus Master Component.

config SLIMBUS_MSM_NGD
	tristate "Qualcomm Slimbus Satellite Component"
	help
	  Select driver for Qualcomm's Slimbus Satellite Component.
	  This is light-weight slimbus controller driver responsible for
	  communicating with slave HW directly over the bus using messaging
	  interface, and communicating with master component residing on ADSP
	  for bandwidth and data-channel management.

endif
