/* Copyright (c) 2018 The LineageOS Project. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	firmware: firmware {
		android {
			fstab {
#ifdef CONFIG_LGE_MSM8996_ENABLE_VENDOR
				vendor {
                                        dev = "/dev/block/platform/soc/624000.ufshc/by-name/vendor";
                                };
#else
				/delete-node/ vendor;
#endif
				system {
					dev = "/dev/block/platform/soc/624000.ufshc/by-name/system";
				};
			};
		};
	};
};
