#
# VIDEO CORE
#

menuconfig MSM_VIDC_V4L2
	tristate "Qualcomm MSM V4L2 based video driver"
		depends on ARCH_QCOM && VIDEO_V4L2
		select VIDEOBUF2_CORE

config DEBUG_MSM_VIDC
	bool "Debug VIDC calls"
	depends on DEBUG_KERNEL
	help
	  Say Y here to add some extra checks and diagnostics to vidc calls.
	  These checks help debug cases where vidc might be in an incorrect
	  state, or related to a hardware acceleration problem, as well as 
	  venus states.

source "drivers/media/platform/msm/vidc/vmem/Kconfig"
source "drivers/media/platform/msm/vidc/governors/Kconfig"
