/*
 * Copyright (c) 2015 The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "../msm8996-h1-camera-no-flash.dtsi"

&cci {

	eeprom0: qcom,eeprom@0 {
		gpios = <&tlmm 13 0>,  //CAM_MCLK
				<&tlmm 30 0>,  //CAM_RESET
				<&tlmm 58 0>,  //OIS_RESET
				<&tlmm 91 0>;  //CAM_AVDD
	};

	qcom,camera@0 {
		gpios = <&tlmm 13 0>,  //CAM_MCLK
				<&tlmm 30 0>,  //CAM_RESET
				<&tlmm 58 0>,  //OIS_RESET
				<&tlmm 91 0>,  //CAM_AVDD
				<&tlmm 80 0>;	// LDAF_EN
	};
};